:root {
  --color--primary-30: #e73866;
  --color--primary-40: #d9335f;
  --color--primary-50: #c02850;
  --color--primary-60: #b7264c;
  --color--primary-80: #8a1635;
  --color-text-neutral-loud: #8f1800;
}
